* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-gld.gld.lexc -text
/apertium-gld.gld.rlx -text
/apertium-gld.gld.twol -text
/apertium-gld.pc.in -text
/apertium-gld.post-gld.dix -text
/autogen.sh -text
/configure.ac -text
dev/nanai-verbs.txt -text
dev/nani-dic.txt -text
dev/spellrelax.twol -text
/gld.prob -text svneol=unset#unset
/modes.xml -text
texts/examples.vislcg.txt -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
